{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<div class="card p-4">
		<div class="card-body">
			{{ form(userForm) }}
			</div>
		</div>
	{% endblock %}
